name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        name: dx_deploy_id_rsa
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        config: |
          Host server
            HostName 118.27.110.225
            User deployer
            Port 546
            IdentityFile ~/.ssh/dx_deploy_id_rsa
    - name: Run Deploy Script
      run: |
        ssh server "cd dx2021-MaterialManagementApp && git pull origin main && docker-compose -f docker-compose.yml build && docker-compose -f docker-compose.yml down && docker-compose -f docker-compose.yml up -d"